





{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>

        body{

            background-color:gray;

        }

</style>

   <body>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout"  >

            <div class="text-center">
            <i class="fa fa-credit-card-alt fa-4x" style="color:green" aria-hidden="true"></i>






            <br><br>
            <h3><strong>Placanje uspjelo.</strong>  </h3>

            <hr>



            <p> Vasa narudzba ce u narednih 2-5 radnih dana biti na vratima. </p>

            </div>
        </div>

   </body>



{% endblock %}


