{% include "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 <style>

        body{

            background-color:gray;

        }

    </style>

<div class="container bg-white shadow-md p-5 form-layout"  >
<h3>Sifra je uspjesno resetovana.</h3>
    <hr>

<p> Vasa sifra je postavljena, molim vas nastavite na prijavljivanje.</p>
    <br>

<a class="btn btn-primary navbar-btn text-white w-100 p-2" type="button"  href="{% url 'my-login' %}"> Prijavi se </a>
</div>
{% endblock %}
